.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4a90e2;
  border-top: 1px solid #e0e0e0;
  border-radius: 10px;
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.profile-picture-uploader {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.profile-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.camera-icon {
  width: 20px;
  height: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-nickname {
  display: flex;
  align-items: center;
}

.profile-nickname strong {
  font-size: 1.2em;
  margin-right: 10px;
}

.certified-member {
  background-color: #a4d3b7;
  color: #004d40;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.8em;
}

.profile-foodtaste {
  margin-top: 5px;
}

.profile-links {
  margin-top: 5px;
}

.profile-links span {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: underline;
}
